<font face="verdana">
<h2>Bookmarks</h2>

<form method="get" action="/bookmarks/new">
  <input type="submit" value="Create new bookmark">
</form>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    <strong><%= link.title %></strong>
    <i><%= link.url %></i>
  </li>
  <% end %>
</ul>
</font>
