<form action="/bookmarks" method="POST">
  <label for="title">
  <input type="text" name="title" />
</label>
<label for"url">
  <input type="text" name="url" />
</label>

<input type="submit" value="Create Bookmark" />
</form>
